.imageCenter {
    height: 40vmin;
    width: auto;
    display: block;
    margin-Left: auto;
    margin-Right: auto;
}

.button {
    display: none;
}

.spinner {
   position: absolute;
   left: 50%;
   top: 50%;
   margin:0px auto;
}
